[report]
exclude_lines = 
#    pass
	pragma: no cover
#    def __repr__
    class [^ ]+\(((zope\.)?interface\.)?Interface\)
#    if __name__ == .__main__.
    assert False
    should_never_run\(\)
    DEBUG
    MAX_TICKS = 
    continue

[run]
branch = True
omit = treeoflife/ordereddict.py,treeoflife/alarmclock.py,ve
