[report]
exclude_lines = 
#    pass
	pragma: no cover
#    def __repr__
    class [^ ]+\(((zope\.)?interface\.)?Interface\)
#    if __name__ == .__main__.
    should_never_run\(\)
    DEBUG

[run]
branch = True
omit = todo_tracker/ordereddict.py,todo_tracker/alarmclock.py,ve
