<div class="collapseable" ng-show="!addnodes || nodes.length">
  <div class="expand-collapse" ng-click="collapsed=!collapsed">
  </div>
  <div class="children collapsed" ng-show="collapsed" ng-click="collapsed=!collapsed">
    {{ collapsedtext }}
  </div>
  <div class="children expanded" ng-if="addnodes && evershown" ng-show="!collapsed">
    <nodes nodes="nodes"></nodes>
  </div>
  <div class="children expanded" ng-if="!addnodes && evershown"
    ng-show="!collapsed" ng-transclude>
  </div>
</div>
