<div class="collapseable" ng-show="!addnodes || nodes.length">
  <div class="expand-collapse" ng-click="collapsed=!collapsed"
    ng-class="{collapsed: collapsed, expanded: !collapsed}">
  </div>
  <div class="children collapsed" ng-show="collapsed" ng-click="collapsed=!collapsed">
    {{ collapsedtext }}
  </div>
  <div class="children expanded" ng-if="addnodes && evershown" ng-show="!collapsed">
    <nodes nodes="nodes" options="options"></nodes>
  </div>
  <!-- directive: ng-if="!addnodes && evershown" -->
  <div class="children expanded" ng-show="!addnodes && !collapsed" ng-transclude>
  </div>
</div>
