.browser-compat {
    border-left: 1px solid @purple;
    padding-left: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.control-utils {
    border-left: 1px solid @orange;
    padding-left: 5px;
    width: 100%;
    margin-bottom: 20px;
}
