
.commandbox {
    padding: 5px;
    height: calc(~"1.1em + 10px");

    box-sizing: border-box;

    background-color: (@background * 1.5);
    width: 100%;
    color: @foreground;
    border-bottom: 1px solid @line;
    margin-bottom: -1px;
    z-index: 10;

    &:focus {
        border-bottom-color: @green;
    }
}
