@foreground: #DBDBD3;
@background: #272822;
@highlight: #e7d969;
@grey: #8e8f89;
@orange: #fe9600;
@purple: #aa83ff;
@pink: #e32e64;
@green: #a7df00;
@blue: #5ed8f0;
@line: (@background * 0.8);

@fullwidth: 1200px;

@indentwidth: 32px;
@sidebarwidth: 250px;

.reset {
    @import "cssreset.less";
}
html, body, .h100 {
    height: 100%;
}

.reset, .solo-reset {

    &:focus {
        outline: none;
    }

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
@import "browser_compat.less";
@import "../fontawesome-less/font-awesome.less";

@import "editor.less";
@import "commandbox.less";
@import "layout.less";

@import "d4-timeline.less";



* {

    transition: border 0.8s;
    -webkit-transition: border 0.8s; /* Safari */
}

.collapseable {
    position: relative;
    .collapsed {
        font-style: italic;
    }
    .children {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        margin-left: @indentwidth;
    }
    div.expand-collapse {
        border-left: 1px solid;
        border-left-color: @background;
        height: 100%;
        width: @indentwidth;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        cursor: pointer;
        &:hover {
            border-left-color: @highlight !important;
        }
    }
}

.icon(@icon) {
    content: @icon;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0px;
    margin-left: -1.1em;
}

.nodes {
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.started {
    color: @highlight;
}
.node, .option {
    position: relative;
    .node-top {
        display: -webkit-flex;
        -webkit-flex-direction: row;
    }
    .text {
        -webkit-flex: 1 1 0px;
    }
    .type {
        -webkit-flex: 0 1 auto;
        font-style: italic;
    }
    .colon {
        -webkit-flex: 0 1 0.5em;
    }

    .type, .text, .colon {
        vertical-align: top;
        white-space: pre-line;
        word-wrap: break-word;
    }
    .node-top:before {
        .icon(@fa-var-square);
        color: transparent;
    }
    .active.node-top.imactive {
        color: @green;
        &:before {
            .icon(@fa-var-square);
            color: @green;
        }
    }
    .activeref.activewithref.node-top,
    .activeref + .collapseable .activewithref.node-top.imactive {
        color: @green;
        &:before {
            .icon(@fa-var-square);
            color: @green;
        }
    }
    .activewithref.node-top:before,
    .node-reference .node-top:not(.activeref) + .collapseable .active:before,
    .node-reference .node-top.active:before {
        color: average(@green, @blue);
        .icon(@fa-var-square-o);
    }
    .finished {
        color: @grey;
    }

    &.node-todo {
        .type, .colon {
            display: none;
        }
        font-size: 13px;
        border-left: 1px solid orange;
        padding-left: 5px;
        width: 100%;
        word-wrap: break-word;
        overflow: hidden;
        margin-bottom: 10px;
    }

    &.node-sleep, &.node-day {
        min-height: 4.5em;
        margin-bottom: 1em;
        &> .node-top {
            position: absolute;
            width: 175px;
            overflow: hidden;
            -webkit-flex-direction: column;
            top: 0px;
            left: 0px;
            h1 {
                display: block;
                font-size: 23px;
            }
            h2 {
                font-size: 10px;
                word-wrap: break-word;
            }
            .option {
                .type, .colon {
                    display: none;
                }
                .text {
                    display: block;
                    word-wrap: break-word;
                }
            }
        }
        &> .children-container {
            margin-left: 175px;
            min-height: 3em;
            &> .expand-collapse {
                border-left-color: @pink;
            }
        }
    }
    &.node-sleep {
        color: @grey;
        font-style: italic;
    }
}

.option {
    font-size: 10px;
}

/*.derp.collapseable {
    background-color: @background;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    min-width: 0px;

    .expand-collapse {
        border-left-color: @blue;
    }

    .children {
        margin-left: 0px;
        margin-right: @indentwidth;
        &.expanded {
            padding-top: 2em;
            width: @sidebarwidth;
        }
        &.collapsed {
            width: 0px;
        }
    }
    div.expand-collapse {
        right: 0px;
        left: initial;
    }
}*/

.preview {
    .previewchoice {
        .actions, .create-node, .existing-node {
            display: inline-block;
            vertical-align: top;
            .label {
                font-size: 0.7em;
                font-style: italic;
            }
        }
        .action, .create-node, .existing-node {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            padding-top: 2px;
            padding-left: 2px;
            padding-right: 5px;
            padding-left: 5px;
            border-radius: 5px;
            border: 1px solid transparent;
        }
        .action {
            border-left-color: @purple;
        }
        > div:nth-last-of-type(2) {
            border-left-color: @purple;
            border-right-color: @purple;
        }
        .create-node {
            .label {
                color: @green;
            }
        }
    }
}
