@foreground: #DBDBD3;
@background: #272822;
@highlight: #e7d969;
@grey: 8e8f89;
@orange: fe9600;
@purple: aa83ff;
@pink: aa83ff;
@green: aa83ff;

@import "cssreset.less";
@import "browser_compat.less";

body {
    font-family: sans-serif;
    font-weight: 100;
    position: relative;
    color: @foreground;
    background-color: @background;
    white-space: nowrap;
}
.content{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.commandbox {
    padding: 5px;
    background-color: (@background * 1.5);
    width: 100%;
    color: @foreground;
    border-bottom: 1px solid (@background * 0.8);
    margin-bottom: 10px;
}

.collapseable {
    position: relative;
    .children {
        display: inline-block;
        margin-left: 2em;
    }
    div.expand-collapse {
        border-left: 1px solid;
        border-left-color: @background;
        height: 100%;
        width: 2em;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    div.expand-collapse:hover {
        border-left-color: @highlight;
    }
}

.node, .option {
    position: relative;
    .type, .text, .text-seperator {
        display: inline-block;
        vertical-align: top;
        white-space: pre;
    }
}

.olddays {
    border-left: 1px solid @green;
}

.content .suggestions {
  max-height: 20px;
}

.content .messages {
    margin-top: 10px;
}

.hide {
    display: none;
}

.error {
    color: red;
}
