@foreground: #DBDBD3;
@background: #272822;
@highlight: #e7d969;
@grey: #8e8f89;
@orange: #fe9600;
@purple: #aa83ff;
@pink: #e32e64;
@green: #a7df00;
@blue: #5ed8f0;
@line: (@background * 0.8);

@fullwidth: 1200px;

@indentwidth: 32px;
@sidebarwidth: 250px;

@import "cssreset.less";
@import "browser_compat.less";
@import "../fontawesome-less/font-awesome.less";

body {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
    position: relative;
    color: @foreground;
    background-color: @background;
    white-space: nowrap;
    overflow: hidden;
}
.scroller {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding-right: (@fullwidth / 2) + 16px;
}
.content {
    margin-top: 2em;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    .content-inner {
        overflow-y: scroll;
        width: 100%;
        .error {
            color: @pink;
            margin-left: 2em;
            margin-bottom: 1em;
        }
    }
}


* {

    transition: border 0.8s;
    -webkit-transition: border 0.8s; /* Safari */
}

.commandbox {
    padding: 5px;
    height: 1.1em;

    box-sizing: content-box;

    background-color: (@background * 1.5);
    width: 100%;
    color: @foreground;
    border-bottom: 1px solid @line;
    margin-bottom: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

    &:focus {
        border-bottom-color: @green;
    }
}

.collapseable {
    position: relative;
    .collapsed {
        font-style: italic;
    }
    .children {
        display: inline-block;
        margin-left: @indentwidth;
    }
    div.expand-collapse {
        border-left: 1px solid;
        border-left-color: @background;
        height: 100%;
        width: @indentwidth;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        cursor: pointer;
        &:hover {
            border-left-color: @highlight !important;
        }
    }
}

.icon(@icon) {
    content: @icon;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0px;
    margin-left: -1.1em;
}

.started {
    color: @highlight;
}
.node, .option {
    position: relative;
    .type, .text, .text-seperator {
        display: inline-block;
        vertical-align: top;
        white-space: pre-line;
        max-width: 100%;
    }
    .type {
        font-style: italic;
    }
    .node-top:before {
        .icon(@fa-var-square);
        color: transparent;
    }
    .active.node-top.imactive {
        color: @green;
        &:before {
            .icon(@fa-var-square);
            color: @green;
        }
    }
    .activeref.activewithref.node-top,
    .activeref + .collapseable .activewithref.node-top.imactive {
        color: @green;
        &:before {
            .icon(@fa-var-square);
            color: @green;
        }
    }
    .activewithref.node-top:before,
    .node-reference .node-top:not(.activeref) + .collapseable .active:before,
    .node-reference .node-top.active:before {
        color: average(@green, @blue);
        .icon(@fa-var-square-o);
    }
    .finished {
        color: @grey;
    }

    &.node-todo {
        .type, .colon {
            display: none;
        }
        font-size: 13px;
        border-left: 1px solid orange;
        padding-left: 5px;
        width: 100%;
        word-wrap: break-word;
        overflow: hidden;
        margin-bottom: 10px;
    }

    &.node-days {
        .olddays > .collapseable {
            &> .expand-collapse.expanded {
                border-left: 1px solid @blue;
            }
            &> .collapsed {
                font-size: 10px;
            }
        }

        .currentdays {
            margin-left: @indentwidth;
        }

        .currentdays,
        .olddays > .collapseable > .children.expanded
        {
            & > .node {
                margin-top: 1em;
            }
        }
    }

    

    &.node-sleep, &.node-day {
        min-height: 4.5em;
        margin-bottom: 1em;
        &> .node-top {
            position: absolute;
            width: 175px;
            overflow: hidden;
            top: 0px;
            left: 0px;
            h1 {
                display: block;
                font-size: 23px;
            }
            h2 {
                font-size: 10px;
                word-wrap: break-word;
            }
            .option {
                .type, .colon {
                    display: none;
                }
                .text {
                    display: block;
                    word-wrap: break-word;
                }
            }
        }
        &> .children-container {
            margin-left: 175px;
            min-height: 3em;
            &> .expand-collapse {
                border-left-color: @pink;
            }
        }
    }
    &.node-sleep {
        color: @grey;
        font-style: italic;
    }
}

.option {
    font-size: 10px;
}

/*.derp.collapseable {
    background-color: @background;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    min-width: 0px;

    .expand-collapse {
        border-left-color: @blue;
    }

    .children {
        margin-left: 0px;
        margin-right: @indentwidth;
        &.expanded {
            padding-top: 2em;
            width: @sidebarwidth;
        }
        &.collapsed {
            width: 0px;
        }
    }
    div.expand-collapse {
        right: 0px;
        left: initial;
    }
}*/
.sidebar.collapseable {
    background-color: @background;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 5;

    .expand-collapse {
        border-left-color: @blue;
    }
    .children.expanded {
        padding-top: 2em;
        width: (@fullwidth / 2) - 32px;
        max-height: 100%;
        overflow-y: scroll;
    }
    .children.collapsed {
        width: 0px;
    }

    .notifications {
        margin-bottom: 20px;
        .notification {
            border-left: 1px solid @pink;
            margin-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px;
            a {
                font-weight: bold;
                color: @orange;
                cursor: pointer;
            }
        }
    }
}

.editor-running {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 9;
    background-color: rgba(213, 214, 205, 0.75);
    color: @background;
    text-align: center;
    cursor: pointer;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }

    /* The element to be centered, can
       also be of any width and height */ 
    .centered {
        display: inline-block;
        vertical-align: middle;
        font-size: 70px;
    }
}
