<!DOCTYPE html>
<html ng-app="treeoflife">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=1200">

    <link rel="stylesheet/less" type="text/css" href="less/ui.less">

    <script src="js/third-party/jquery-1.8.2.min.js"></script>
    <script src="js/third-party/angular.js"></script>
    <script src="js/third-party/less-1.5.0.min.js"></script>

    <script src="js/third-party/d3.js" charset="utf-8"></script>
    <script src="js/declarative-d3.js"></script>

    <script src="js/third-party/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" type="text/css" href="js/third-party/codemirror/lib/codemirror.css">
    <script src="js/third-party/codemirror/mode/yaml/yaml.js"></script>
    <script src="js/third-party/codemirror/addon/dialog/dialog.js"></script>
    <link rel="stylesheet" type="text/css" href="js/third-party/codemirror/addon/dialog/dialog.css">
    <script src="js/third-party/codemirror/addon/search/searchcursor.js"></script>
    <script src="js/third-party/codemirror/keymap/vim.js"></script>
    <link rel="stylesheet" type="text/css" href="js/third-party/codemirror/theme/monokai.css">

    <script src="js/console.js"></script>
    <script src="js/browser_compat.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/editor.js"></script>
    <script src="js/commandbox.js"></script>
  </head>
  <body>
    <tl-editor> </tl-editor>

    <div ng-controller="ui_controller" class="window solo-reset">
      <div class="header">
        <tl-commandbox send-command="sendcommand" ng-show="!backend.editor_running">
        </tl-commandbox>
        <div class="preview" ng-show="backend.command_preview">
          <strong>{{ backend.command_preview.name }}</strong>
          <em>{{ backend.command_preview.text }}</em>
          <div class="previewchoice" ng-repeat="option in backend.command_preview.data.options.slice(0, 1)">
            <div class="existing-node">
              {{pool[option.node.existing].type}}<span ng-show="pool[option.node.existing].text">: {{pool[option.node.existing].text}}</span>
              <div class="label">existing</div>
            </div>
            <div class="create-node" ng-repeat="create in option.node.create">
              <span ng-switch="create.direction">
                <span ng-switch-when="next_peer">-&gt;</span>
                <span ng-switch-when="prev_peer">&lt;-</span>
                <span ng-switch-when="children">&gt;</span>
              </span>
              <span> {{create.type}}: {{create.text}} </span>
              <div class="label">create</div>
            </div>
            <div class="actions">
              <!-- these should be in the last node -->
              <div class="action" ng-repeat="action in option.actions.slice(0, 1)">{{action}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="content reset" ng-show="!backend.editor_running">
        <div class="column">
          <div ng-repeat="error in backend.errors" class="error">
            {{ error }}
          </div>
          <node pool="pool" node="pool.ids.days" toplevel></node>
        </div>
        <div class="column">
          <div ng-repeat="event_id in backend.event_queue track by $index">
            <node pool="pool" node="event_id"></node>
          </div>
        </div>
        <collapseable class="sidebar" text="" shown="sidebar_shown">
          <div ng-show="browser_compat">
            <div ng-include="'/partials/browser-compat.html'">
            </div>
          </div>
          <div ng-show="notifications.length" class="notifications">
            <div ng-repeat="notification in notifications track by $index" class="notification">
              {{ notification }} <a ng-click="removeNotification($index)">x</a>
            </div>
          </div>
          <!-- insert other stuff here -->
          <div ng-show="!browser_compat" class="control-utils">
            <div ng-click="_quit()"> quit popup </div>
          </div>
          <nodes pool="pool" nodes="pool[pool.ids.todo_bucket].children"></nodes>
        </collapseable>
      </div>
    </div>
  </body>
</html>
